Estilos
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0056b3;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Estilo del footer */
footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

footer a {
    color: #007BFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer .container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .div1 {
    margin-bottom: 10px;
}

footer .derechos-autor {
    font-size: 12px;
    color: #555;
}

footer .derechos-autor a {
    font-size: 12px;
}

footer .derechos-autor a:hover {
    color: #0056b3;
}

/* Estilos para los detalles del empleado */
.employee-details2 {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.employee-details2 p {
    font-size: 18px;
    margin-bottom: 10px;
}

.titulo-detalles2 {
    color: #333;
    text-align: center; /* Añadir centrado para el título de detalles */
    margin-bottom: 20px;
}

/* Botón volver buscar_empleado.php*/
.btn-volver2 {
    display: inline-block;
    background-color: #d9534f;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    display: block; /* Esto hace que el botón ocupe toda la línea */
}

.btn-volver2:hover {
    background-color: #c9302c;
}
